<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.graalvm.org/">GraalVM</a></strong>
			<br>
			I am fortunate enough to get a chance to work on <b>GraalVM</b> - a high-performance polyglot virtual machine. 
			I work as a <b>Research Assistant</b> (read intern) in the <a href="https://www.graalvm.org/reference-manual/native-image/">Native Image</a> team
			, whose goal is to <b>ahead-of-time compile Java</b> code to a <b>standalone executable</b>. My tasks so far have been oriented towards <b>compatibility</b>.
			It is important to ensure that the semantics of a program remain unchanged or at least as similar as possible.
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/d-kozak/enticing">Enticing - Semantic Search Engine</a></strong>
			<br> As my <a href="https://www.vutbr.cz/en/students/final-thesis/detail/129312"> master thesis</a> project, 
			I created a <b>search engine</b> for querying <b>semantically enhanced</b> documents available within the <a href="https://www.fit.vut.cz/research/group/knot/.en">Knowledge
			Technology Research Group</a> at <a href="https://www.fit.vut.cz/.en">FIT BUT</a>. It was a <b>distributed system</b> consisting of multiple types of
			components. The task also included designing a special <b>query language</b>, it’s <b>compiler</b> and specialized
			<b>searching algorithms</b>. Backend components were written in <b>Kotlin</b> using <b>Spring</b>. Web frontend was written
			in <b>TypeScript</b> using <b>React</b>. I successfully designed, developed and deployed the whole system.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.jetbrains.com/mps/">MPS - Meta Programming System</a></strong>
			<br> Since my early days at Android, I've been fascinated by <b>IDEs</b>. I was amazed by how much these tools can help you. And it went hand in hand with my
			interest for <b>programming languages</b> and their <b>analysis</b>. As you can imagine, I naturally gravitated towards <a href="https://www.jetbrains.com/">JetBrains</a>. 
			So when I got the chance, I went for an internship in the <b>MPS team</b>. MPS is a really cool tool that let's you design your own <b>Domain Specific Languages</b> 
			along with a full IDE support. During my internship, I studied <b>DSL engineering</b> and <b>language engineering</b> in general. In particular, I was extending a tool 
			called <a href="https://github.com/d-kozak/ingrid">Ingrid</a> for <b>converting Antrl4 grammar into MPS project</b>. I designed and implemented an extension to support
			<b>automatic detection of formatting</b> for a given language.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.aura.cz/en/software/judicial-officers-and-barristers/advokta">Advokta</a></strong>
			<br> When I finished my bachelor studies and started my masters, I wanted to try out something new. I knew Java and its core libraries quite well,
			but I did not know much about enterprise development. I wanted to know what it is like, therefore I started working for a company called <a href="https://www.aura.cz/en">Aura</a>
			on an <b>information system</b> for lawyers. While working on this project, I got familar with <b>Java EE</b>, <b>Spring</b>, <b>Hibernate</b> and <b>Java Server Faces</b>.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.fit.vutbr.cz/~iletko/wiki/doku.php?id=searchbestie:main">SearchBestie</a></strong>
			<br> During my bachelor studies, I got involved in the research group <a href="https://www.fit.vut.cz/research/group/verifit/.en">VeriFIT</a>, whose focus is <b>automated analysis</b> and <b>verification</b> of systems. 
			There, I maintained the <b>SearchBestie</b> infrastructure for <b>search-based testing</b> of <b>concurrent Java programs</b> using
			<b>noise injection</b>. Working on this project turned out to be my <a href="https://www.vutbr.cz/en/students/final-thesis/detail/114594">bachelor thesis</a>. 
			My main task was to integrate SearchBestie with <a href="https://github.com/stephenfreund/RoadRunner">RoadRunner</a>, an open source tool
			for <b>dynamic analysis</b> of concurrent Java programs. I also designed new heuristics for noise injection
			and evaluated them. You can find more in the <a href="https://www.vutbr.cz/www_base/zav_prace_soubor_verejne.php?file_id=180847">text</a> of the thesis. 
			But be warned that is it in Czech.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/BeeeOn/android">BeeeOn</a></strong>
			<br>This goes way back into the early years of my bachelor studies. It is an <b>Android App</b> for controlling an <b>IoT system</b>. It was my first experience with <b>Java</b> and <b>Android</b>. 
			Before I started working on this project, I only knew C. So it was a big leap, but I enjoyed the ride 
			very much. First, I did some work on the UI. Afterwards, I tried to come up with approaches for automated stress testing of the UI that could be integrated into the
			CI pipeline. Which meant that I got to do some scripting in <b>Bash</b> and <b>Python</b> as well.
		</h5>


    </div>
  </div>
</div>
</section>
